<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Register page</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container my-5">
      <div class="card" style="width: 100%;">
        <div class="card-body">
          <h5 class="card-title"> Register form </h5>
          <form onsubmit="return false;" id="form">
              <div class="mb-3">
                  <label for="petName" class="form-label"> Name </label>
                  <input type="text" class="form-control" id="petName" autocomplete="off" value=<%= pet_inform.petName %> required>
              </div>
              <div class="mb-3">
                  <label for="petType" class="form-label"> Type </label>
                  <select class="form-select form-select-sm" aria-label="Small select example" id="petType" type="text" value=<%= pet_inform.petType %> required>
                        <option selected> <%= pet_inform.petType %> </option>
                        <option value="Dog"> Dog </option>
                        <option value="Cat"> Cat </option>
                  </select>
              </div>
              <div class="mb-3">
                  <label for="petDoB" class="form-label"> Your pet Birthday! </label>
                  <input type="date" class="form-control" id="petDoB" autocomplete="off" value=<%= pet_DoB %> required>
              </div>
              <div class="mb-3">
                  <label for="petPfp" class="form-label"> Profile picture </label>
                  <input type="text" class="form-control" id="petPfp" autocomplete="off" value=<%= pet_inform.petPfp %> required>
              </div>
              <div class="mb-3">
                <label for="petGender" class="form-label"> Gender </label>
                <select class="form-select form-select-sm" aria-label="Small select example" id="petGender" type="text" value=<%= pet_inform.petGender %> required>
                        <option selected> <%= pet_inform.petGender %> </option>
                        <option value="Male"> Male </option>
                        <option value="Female"> Female </option>
                  </select>
              </div>
              
              <!-- Alert -->
              <div class="alert alert-success" role="alert" style="display: none;" id="success">
                  A simple success alert—check it out!
                </div>
                <div class="alert alert-danger" role="alert" style="display: none;" id="error">
                  A simple danger alert—check it out!
              </div>

              <button type="submit" class="btn btn-primary"> Submit </button>
              <a href="/petprofile/<%= pet_inform.petID %>/delete" class="btn btn-primary"> Delete </a>

            </form>
        </div>
      </div>
    </div>

    <script>
      form.addEventListener("submit", () => {
            const petedit = {
                  petName: petName.value,
                  petType: petType.value,
                  petDoB: petDoB.value,
                  petPfp: petPfp.value,
                  petGender: petGender.value
            };
            //const id = JSON.parse(document.getElementById("userid").text);
            //Can directly put them here
            fetch(`/api/petprofile/<%= pet_inform.petID %>/edit`, {
                  method: "POST",
                  body: JSON.stringify(petedit), //Body to be json that string you'll find in the string file text before sending and send the register
                  headers: {"Content-Type": "application/json"}
            })
            .then ( res => res.json())
            //Get and managing data
            .then(data => {
                  if (data.status == "error") {
                        success.style.display = "none"
                        error.style.display = "block"
                        error.innerText = data.error
                  }else {
                        error.style.display = "none"
                        success.style.display = "block"
                        success.innerText = data.success

                        window.location.href = `/petprofile/<%= pet_inform.petID %>`;
                  }
            })
      })
    </script>
</body>
</html>